header{
    background-color: #D0D0D0;
    border: 5px solid #9AC8C8;
    position: relative;
}

#titlememe{
    text-align: center;
    letter-spacing: 3px;;
    font-size: 60px;
    font-family: 'Coda Caption', sans-serif;
}

#directions{
    font-size: 30px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
.label{
    font-size: 25px;
    margin: 10px;
    letter-spacing: 2px;
    font-family: 'Montserrat', sans-serif;
}
.textbox{
    position: absolute;
    height: 25px;
    width: 450px;
    right: 250px;;
    left: 250px;;
    border: 2px solid #9AC8C8;
}
#button{
    width: 150px;
    background-color: #BF0AF0;
    color:white;
    font-size: 15px;
    padding: 10px;
    border-radius: 7px;
    display: inline-block;
    font-family: 'Coda Caption', sans-serif;
    transition: background-color .5s, color .5s linear, border-radius 2s ease-out;
}
#button:hover {
    background-color: #F00A8B;
    color: black;
    border-radius: 30px;
}
#photoandmeme{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
#thememe{
    position: absolute;
    top: 0px;
}
#textagain{
    position: absolute;
    bottom: 0px;
}

.thetext{
    font-size: 40px;
    font-family: 'Coda Caption', sans-serif;
    color: black;
	-webkit-text-stroke: 1px black;
    -webkit-text-fill-color: white;
    padding: 10px;
}
#photo{
    
}